* {
    font-family: 'OperatorMono-Medium', Monaco, 'Courier New', monospace;
}

body {
    margin-bottom: 80px;
}

::placeholder {
    font-style: italic;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.form-control {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin: 8px 0;
}

.btn {
    padding: 8px 12px;
    background: lightgray;
    border: none;
    margin: 8px 0;
}

.btn:hover {
    cursor: pointer;
}

.btn-success {
    padding: 8px 12px;
    background: rgb(64, 202, 14);
    color: white;
}

.btn-success:hover {
    background: rgb(52, 165, 11);
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
    display: none;
}

.is-invalid ~.invalid-feedback  {
    display: block;
}

a {
    text-decoration: none;
    color: rgb(32, 143, 187);
}

a:hover {
    color: rgb(65, 81, 0);
}

.btn:disabled {
    opacity: 0.8;
    background: grey;
}